@model MkAffiliationManagement.Models.Advertisment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Advertisment</h4>
<hr />
<div class="row" max-width:"500">
    <div class="col-md-4 ">
        <img style="width:500px;" src="@Model.Image" />
    </div>
    <div style="margin-left: 100px;" class="col-md-6 ml-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <textarea asp-for="ProductName" class="form-control"></textarea>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductEndorsment" class="control-label"></label>
                <textarea asp-for="ProductEndorsment" class="form-control"></textarea>
                <span asp-validation-for="ProductEndorsment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPromotionalCode" class="control-label"></label>
                <input asp-for="ProductPromotionalCode" class="form-control" />
                <span asp-validation-for="ProductPromotionalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLink" class="control-label"></label>
                <textarea asp-for="ProductLink" class="form-control"></textarea>
                <span asp-validation-for="ProductLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <textarea asp-for="Image" class="form-control"></textarea>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div style="padding-top:20px;" class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

<div>

    <a style="padding-top:20px;" class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
